.keyboard {
  position: relative;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #fff;
  border-radius: 5px;
}

.lightMode {
  color: #000;
}

.active {
  background: #ff0000;
}
